<ion-view view-title="Reports">
  <ion-content>
    <form ng-submit="run()">
      <div class="row">
        <div class="col text-center">
            <button
              type="submit"
              class="button button-rounded icon ion-ios-analytics report-run">
            </button>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider report-header">Type</div>

        <div class="list">
          <label class="item item-radio" ng-repeat="item in factory.report.types">
            <input
              type="radio"
              name="reportType"
              value="{{item.id}}"
              ng-change="updateReportType(item)"
              ng-model="factory.report.type" />

            <div class="item-content">{{item.id}}</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>

      <div class="card" ng-hide="factory.report.type == 'Tally'">
        <div class="item item-divider report-header">Group By</div>

        <div class="list">
          <label class="item item-radio" ng-repeat="item in factory.report.aggregates">
            <input
              type="radio"
              name="reportAggregate"
              value="{{item.id}}"
              ng-change="updateReportAggregate(item)"
              ng-model="factory.report.aggregate" />

            <div class="item-content">{{item.id}}</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>

