<ion-view view-title="Edits" cache-view="false">
  <ion-content>
    <label class="item item-input item-select">
      Timer
      <select
        class="edits"
        required="required"
        ng-model="edits.label"
        ng-options="label.title for label in edits.labels track by label.uuid">
      </select>
    </label>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="edits.date" required="required" />
    </label>

    <label class="item item-input">
      <span class="input-label">Time</span>
      <input type="time" ng-model="edits.time" required="required" />
    </label>

    <div class="row">
      <div class="col text-center">
        <button
          ng-click="insertTally()"
          class="button button-rounded icon ion-checkmark"
          name="tally"></button>
      </div>
    </div>
  </ion-content>
</ion-view>

