<ion-view view-title="Time">
  <ion-content>
    <ion-scroll direction="xy" delegate-handle="horizontal">
      <table class="report">
        <thead>
          <tr>
            <th class="report">{{report.aggregate}}</th>
            <th class="report" ng-repeat="label in report.eventLabels.labels">
              {{label.title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in report.events">
            <td class="report">
              {{item.date}}
            </td>
            <td class="report"
                ng-repeat="label in report.eventLabels.labels track by $index">
              <span ng-if="item.durations[$index].index == $index">
                {{item.durations[$index].h}}:{{item.durations[$index].m}}:{{item.durations[$index].s}}
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="report-total">
              Total
            </td>
            <td class="report-total"
                ng-repeat="label in report.eventLabels.labels track by $index">
              <span>
                {{report.times[$index].h}}:{{report.times[$index].m}}:{{report.times[$index].s}}
              </span>
            </td>
        </tfoot>
      </table>

    </div>
    </ion-scroll>
    <ion-scroll direction="y" delegate-handle="vertical">
      <div class="card">
        <div class="item item-divider">
          Time Chart
        </div>
        <div class="item item-text-wrap">
          <canvas id="pie" class="chart chart-pie" chart-data="chart.data" chart-labels="chart.labels" chart-colours="chart.colours" chart-legend="true" chart-options="{animation: false, responsive: true}"></canvas>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>

