<ion-view view-title="Settings">
  <ion-content>
    <ion-toggle
      ng-model="opt.stopButton"
      ng-checked="opt.stopButton"
      ng-change="updateStopButton()"
      toggle-class="toggle-stable">
      Show Stop Button
    </ion-toggle>
    <ion-toggle
      ng-model="opt.deleteButton"
      ng-checked="opt.deleteButton"
      ng-change="updateDeleteButton()"
      toggle-class="toggle-stable">
      Show Delete Button
    </ion-toggle>
  </ion-content>
</ion-view>
