<!-- Layout buttons in a grid. -->
<ion-view view-title="Tally Time" cache-view="false">
  <ion-content>
    <div ng-if="hasStopButton()">
      <div class="row">
        <div class="col text-center">
          <button
            ng-click="tally( 'stop' )"
            class="button button-rounded icon ion-stop timers-stop"
            name="stop"
            value="stop"></button>
          </div>
        </div>
        <div class="col text-center">
          <pre>{{timer.elapsed}}</pre>
        </div>
      </div>
    </div>

    <div class="center">
      <div class="row"
        ng-repeat="label in labels track by label.uuid"
        ng-if="$index % 3 == 0"
        ng-init="buttonIndex = $index">
        <div
          ng-repeat="i in [0, 1, 2]"
          ng-if="buttonIndex + i < labels.length"
          class="col col-33">
          <button
            ng-click="tally( labels[ buttonIndex + i ].uuid )"
            class="button tally"
            ng-class="{'timer-active': timer.uuid == labels[ buttonIndex + i ].uuid, 'contrast-dark': labels[ buttonIndex + i ].fg}"
            style="background-color: {{labels[ buttonIndex + i ].bg}}"
            name="tally">
            {{labels[ buttonIndex + i ].title}}
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

