<ion-view view-title="Labels" cache-view="false">
  <ion-content>
    <div class="row">
      <div class="col text-center">
        <form ng-submit="createLabel()">
          <button
            class="button button-rounded icon ion-plus-round label-create">
          </button>
        </form>
      </div>
      <div class="col text-center">
        <form ng-submit="updateColours()">
          <button
            class="button button-rounded icon ion-paintbucket label-update">
          </button>
        </form>
      </div>
    </div>

    <!-- Show the button colours as a horizontal rule. -->
    <div class="row">
      <div
        ng-repeat="label in labels track by label.uuid"
        class="col"
        style="background: {{label.bg}}">
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="label in labels track by label.uuid">
        <div class="list list-inset">
        <label class="item item-input">
        <i class="icon ion-ios-clock placeholder-icon"
           style="color: {{label.bg}}"></i>
        <input
          ng-model="labels[$index].title"
          ng-change="updateLabel( $index )"
          ng-required="true"
          ng-minlength="1"
          ng-maxlength="20"
          maxlength="20"
          pattern=".{1,20}"
          type="text"
          name="tally_{{$index}}"
          value="{{label.title}}" />
        </label>
        </div>
      </ion-item>
    </ion-list>

    <div class="row">
      <div ng-if="labels.length > 5" class="col text-center">
        <form ng-submit="createLabel()">
          <button
            class="button button-rounded icon ion-plus-round label-create">
          </button>
        </form>
      </div>
      <div ng-if="hasDeleteButton()" class="col text-center">
        <form ng-submit="deleteLabels()">
          <button
            class="button button-rounded icon ion-close-round label-delete">
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>

