<ion-view view-title="Tally">
  <ion-content>
    <ion-scroll direction="xy" delegate-handle="horizontal">
      <table class="report">
        <thead>
          <tr>
            <th class="report">Date</th>
            <th class="report" ng-repeat="label in report.eventLabels.labels">
              {{label.title}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in report.tallies">
            <td class="report">
              {{item.date}}
            </td>
            <td class="report"
                ng-repeat="label in report.eventLabels.labels track by $index">
              <span ng-if="item.tallies[$index].index == $index">
                {{item.tallies[$index].tally}}
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="report-total">
              Total
            </td>
            <td class="report-total"
                ng-repeat="label in report.eventLabels.labels track by $index">
              <span>
                {{report.totals[$index]}}
              </span>
            </td>
        </tfoot>
      </table>
    </ion-scroll>
    <ion-scroll direction="y" delegate-handle="vertical">
      <div class="card">
        <div class="item item-divider">
          Tally Chart
        </div>
        <div class="item item-text-wrap">
          <canvas id="tally" class="chart chart-line" chart-data="chart.datasets" chart-labels="chart.labels" chart-colours="chart.colours" chart-series="chart.series" chart-legend="true" chart-options="{showTooltips: false, animation: false, responsive: true, datasetFill: false}"></canvas>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>

