<ion-tabs class="tabs-icon-top tabs-background-stable tabs-color-dark">
  <!-- Buttons Tab -->
  <ion-tab
    title="Timers" href="#/tab/timers"
    icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock">
    <ion-nav-view name="tab-timers"></ion-nav-view>
  </ion-tab>

  <!-- Labels Tab -->
  <ion-tab
    title="Labels" href="#/tab/labels"
    icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags">
    <ion-nav-view name="tab-labels"></ion-nav-view>
  </ion-tab>

  <!-- Labels Tab -->
  <ion-tab
    title="Edits" href="#/tab/edits"
    icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose">
    <ion-nav-view name="tab-edits"></ion-nav-view>
  </ion-tab>

  <!-- Reports Tab -->
  <ion-tab
    title="Reports" href="#/tab/reports"
    icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab
    title="Settings" href="#/tab/settings"
    icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>

